.sideContainer {
    height: 100%;
    background-color: #2892FF;
    position: fixed;
    z-index: 1;

}

.menu {
    padding: 3rem 3rem 8rem 3rem;
    display: flex;
    justify-content: center;

}

.home {
    width: 100%;
    display: flex;
    justify-content: center;

}