 .signInContainer {
     display: flex;
     flex-basis: 60%;
     justify-content: center;


 }

 .group {
     display: flex;
     flex-direction: column;
     width: 70%;
     padding-top: 3rem;
 }

 .heading {
     text-align: center;
     color: #FFFFFF;
     font-family: "Open Sans";
     font-size: 20px;
     font-weight: 600;
     letter-spacing: 1.67px;
     line-height: 2.7rem;
     text-transform: uppercase;
     padding-top: 2rem;
     padding-bottom: 2rem;
 }

 .tabs {
     display: none;
 }

 .formPage {
     align-items: center;
     justify-content: center;

 }


 .pinField {
     position: relative;
     padding-top: 1.2rem;
     padding-bottom: 1.6rem;

 }

 .signUpHeading {
     display: block;
     text-align: left;
     color: #FFFFFF;
     font-family: "Open Sans";
     font-size: 20px;
     font-weight: 600;
     letter-spacing: 1.67px;
     line-height: 2.7rem;
     text-transform: uppercase;
     padding-bottom: 2rem;

 }

 .re_enter {
     padding-top: 1.6rem;
 }

 .eye {
     position: absolute;
     top: 2rem;
     right: 1rem;
     cursor: pointer;

 }

 .forgot {
     color: #FFFFFF;
     font-family: "Open Sans";
     font-size: 14px;
     font-weight: 600;
     letter-spacing: 0;
     line-height: 19px;
     text-align: right;
    
     cursor: pointer;
 }


 .btn {
     border-radius: 4px;
     background-color: #FFFFFF;
     color: #0E85FF;
     text-transform: uppercase;
     font-family: "Open Sans";
     font-size: 18px;
     font-weight: 600;
     letter-spacing: 1.2px;
     line-height: 24px;
     padding: 0.65rem 1.8rem;
     outline: none;
     border-style: none;
     cursor: pointer;
     margin: 2rem 0rem;
 }

 .dont_have_account {
     color: #FFFFFF;
     font-family: "Open Sans";
     font-size: 14px;
     font-weight: 600;
     letter-spacing: 0;
     line-height: 19px;
     

 }

 .links {
     text-decoration: none;
     color: #FFFFFF;
 }

 .a {

     border-bottom: 3.5px solid #FFA222;
 }