.homeContainer {
    margin: 0rem 5rem;
    background-color: #FFFFFF;
    height: 100vh;

}

@media only screen and (max-width: 874px) {
    .homeContainer {
        margin: 0rem;

    }

    .topContainer {
        position: fixed;
        background-color: #F5F7FB;
        left: 7.2rem !important;
        padding: 1rem !important;
        right: 0rem !important;
    }

    .mainBarContainer {

        padding-left: 12rem;
    }

    .social {

        position: fixed;
        background-color: white;
        right: 0;
        left: 115px;
    }

    .social_media {

        padding-left: 7rem;
    }

    .pageContainer {

        position: fixed;
        background-color: white;
        top: 8rem;
        left: 7.2rem;
        right: 0rem;
        padding: 2rem 2rem 0rem 7rem;
    }

    .siteCards {

        padding-top: 9rem !important;
        gap: 4rem !important;

    }
    
    .search {
        position: absolute;
        top: 45px;
        right: 7rem;
        z-index: 12;
    }

    .pass_logo {
        padding-left: 0rem !important;
    }

}

@media only screen and (max-width: 864px){

    .search {
        position: absolute;
        top: 45px;
        right: 7rem;
        z-index: 12;
    }
}


@media only screen and (max-width: 864px){

    .search{
        top: 3rem;
        right: 7rem;
    }
}
